@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$body-bg: #ffffff;
$main-color: #d35337;
$second-color: #caa19d;

$color-active: #d35337;
$color-normal: #4e4e4e;
$txt-title: #fff1d1;
$txt-color: #ac513b;
$txt-color-white: #fff9d9;
$txt-color-shadow: #fc0;

$white: #fff;
$black: #000;

$header-height: 3.5rem;
$border-radius: 30px;

$mobile-width: 724px;
$tablet-width: 1024px;

$font-family: "Cinzel", serif;
