@use "../../scss/" as *;

$header-height: 2.5rem;

.banner {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  @include tablet {
    background: url(../../asset/Background/LandingWoM.jpg) no-repeat 50% 0 /
      cover;
    height: 75vh;
    width: calc(100% + 16px);
  }
  @include mobile {
    height: 90vh;
  }

  video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    @include tablet {
      display: none;
    }
  }

  .content {
    position: absolute;
    min-width: 100%;
    min-height: 100%;

    .nav_menu {
      @include flex(flex-start, space-between);

      @include tablet {
        @include flex(center, space-between);
        flex-direction: column-reverse;
      }

      &__logo {
        width: 50%;
        @include tablet {
          width: 100%;
        }
        img {
          width: 23rem;
          padding: 1rem 0 0 0.5rem;
          @include tablet {
            width: 15rem;
            display: none;
          }
        }
      }

      &__menu {
        width: 50%;
        @include tablet {
          width: 100%;
        }

        &__bar {
          position: absolute;
          z-index: 10;
          width: 50%;
          height: $header-height;
          @include flex(center, space-evenly);
          @include tablet {
            width: 100%;
          }

          a {
            font-size: 1rem;
            @include tablet {
              margin-left: 0;
              font-size: 0.7rem;
            }

            li {
              font-weight: 600;
              display: flex;
              align-items: center;
              line-height: normal;

              img {
                height: 0.8rem;
                width: auto;
                margin-right: 0.6rem;
                @include tablet {
                  height: 0.5rem;
                  margin-right: 0.3rem;
                }
              }
            }
          }
        }
      }

      &__menu:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: $header-height;
        z-index: 1;
        background: url(../../asset/Background/Bg_menu.png) no-repeat;
        background-size: cover;
        @include tablet {
          background-image: url(../../asset/Background/Bg_menu_mobile.png);
        }
      }
    }

    .code {
      position: inherit;
      left: 10rem;
      z-index: 50;
      animation: bounce 1s ease infinite;

      @include tablet {
        top: 35%;
        left: 5rem;
        transform: translateY(-50%);
      }
      img {
        width: 15rem;
        @include tablet {
          width: 9.5rem;
        }
      }
    }

    .text_icon {
      position: absolute;
      top: 8%;
      right: 15rem;
      @include tablet {
        right: 0;
      }
      img {
        width: 15rem;
        @include tablet {
          width: 10rem;
        }
      }
    }

    .text_Text {
      position: absolute;
      left: 50%;
      bottom: 5rem;
      transform: translateX(-50%);
      z-index: 50;
      @include tablet {
        bottom: 7rem;
      }
      @include mobile {
        left: 0;
        transform: translateX(0);
      }
      img {
        width: 40rem;
        @include mobile {
          width: 100%;
        }
      }
    }

    .nav_menu__button {
      position: absolute;
      left: 50%;
      bottom: 2rem;
      transform: translateX(-50%);
      z-index: 100;
      @include tablet {
        bottom: 5rem;
      }
      @include mobile {
        left: 0;
        transform: translateX(0);
      }

      &__bar {
        @include flex(center, space-evenly);
        img {
          width: 15rem;
          @include mobile {
            width: 100%;
          }
        }
      }
    }

    .ten__hover:hover {
      cursor: pointer;
      filter: brightness(1.5);
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
